body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  position:relative;
  display:block;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #F45B69;
  color: #eee;
}

.circle {
  position:absolute;
  border-radius: 50%;
  background-color: #FF9366;
}

.a {
  left: 0;
  top: 40%;
  width: 20%;
  height: 30%;
  z-index: 0;
}
